* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
}

.say-hello {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 61px;
}

.say-hello h4 {
  color: #a5a5a5;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4.2px;
  padding-top: 43px;
}

.say-hello h2 {
  color: #4c4c4c;
  font-size: 60px;
  font-weight: 300;
  padding-top: 13px;
}

.say-hello h2 span {
  color: #1abc9c;
}

.form-maps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 87px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 619px;
  height: 524px;
  padding-right: 47px;
}

.text-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 15px;
}

.text-email input {
  width: 281px;
  height: 48px;
  background-color: #ffffff;
}

form input[type="subject"] {
  width: 604px;
  height: 48px;
  background-color: #ffffff;
  margin-bottom: 30px;
}

form textarea {
  height: 184px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  margin-bottom: 71px;
}

input {
  color: #939598;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #cccccc;
  padding-left: 13px;
}

textarea {
  color: #939598;
  font-size: 16px;
  font-weight: 400;
  padding: 7px 10px;
}

input[type="submit"] {
  width: 183px;
  background-color: #1abc9c;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  padding: 15px 30px;
  margin-bottom: 57px;
}

.maps p {
  color: #939598;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

.cards {
  background-color: #f7f7f7;
  width: 84%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  padding-top: 46px;
  padding-bottom: 52px;
}

.card-question, .card-open, .card-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-question h4, .card-open h4, .card-mail h4 {
  color: #4c4c4c;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 24px;
  padding-bottom: 12px;
}

.card-question p {
  color: #1abc9c;
  font-size: 19px;
  font-weight: 300;
  letter-spacing: 0.19px;
}

.card-open p {
  color: #4c4c4c;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.18px;
}

.card-mail p {
  color: #1abc9c;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.18px;
}

.line {
  width: 1px;
  height: 123px;
  background-color: #818181;
}

.services {
  background-color: #1abc9c;
  width: 100%;
}

.services h2 {
  color: #f7f7f7;
  font-size: 46px;
  font-weight: 300;
  letter-spacing: 0.46px;
  padding-top: 36px;
  padding-left: 14.5%;
}

.services h2 span {
  font-weight: 700;
}

.services p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.16px;
  padding-left: 14.5%;
  padding-bottom: 52px;
}

@media (max-width: 1024px) {
  .form-maps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  form {
    padding-right: 0;
  }

  .maps {
    margin-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .line {
    width: 123px;
    height: 1px;
    margin: 25px;
  }
}
@media (max-width: 640px) {
  form {
    width: 440px;
  }

  .text-email {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 0;
  }

  .text-email input {
    width: auto;
    margin-bottom: 20px;
  }

  form input[type="subject"] {
    width: auto;
    margin-bottom: 20px;
  }

  form textarea {
    margin-bottom: 50px;
  }
}
@media (max-width: 450px) {
  form {
    width: 300px;
  }
}
