body{
	font-family: 'Poppins', sans-serif;
}
*{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
	display: flex;
}
a{
	text-decoration: none;
}
header{
	background: #f6f6f6;
	padding: 22px 0;
}
.header-container{
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.header-container a{
	color: #000000;
	font-size: 16px;
	font-weight: bold;
	margin-right: 70px;
	padding: 27px 10px;
}
.header-container a:hover{
	background-color: #ffea00;
}
#menu-checkbox{
	display: none;
}
.logo a:hover{
	background: none;
}
ul{
	display: flex;
}
nav{
	margin-top: 20px;
}

.top-slide{
	background: url(../img/slider_bg.jpg)no-repeat;
	padding-top: 120px;
	padding-bottom: 280px;
	background-size: 100%;
}

.top-container{
	width: 85%;
	margin: 0 auto;
}

.top-slide h2{
	background: #ffea00;
	display: inline;
	font-size: 70px;
	padding: 0 13px;
}

.top-slide :nth-child(2){
	margin-bottom: 10px;
}

.top-slide p{
	background: #414146;
	display: inline;
	font-size: 24px;
	color: #ffffff;
}

.specialize-container{
	text-align: center;	
}

.specialize-container h3{
	font-size: 35px;
}

.specialize-container p{
	font-size: 24px;
}
.card{
	margin: 0 55px;
}
.card p{
	font-size: 13px;
}
.bottom-card{
	background: #414146;
	position: relative;
	top: -7px;
}

.card .first-p{
	font-size: 20px;
	color: #ffffff;
}

.specialize-cards{
	display: flex;
	justify-content: center;
}

.top-card{
	width: 250px;
	height: 215px;
	background-color: #ffea00;
	margin-top: 65px;
}
.top-card .vilt{
    padding-top: 0px;
}
.second-p{
	text-align: center;
	font-size: 13px;
	color: #ffffff;
	padding: 10px;
}
.top-card p{
	font-size: 20px;
}
.foto1{
	padding-top: 41px;
	padding-bottom: 34px;
}

.foto2{
	padding-top: 42px;
    padding-bottom: 41px;
}

.foto3{
    padding-top: 34px;
    padding-bottom: 28px;
}

.portfolio{
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
.portfolio h4{
	background: #424147;
	padding: 9px 30px;
	display: inline-block;
	color: #ffea00;
	font-size: 18px;
	margin-bottom: 30px;
	margin-top: 30px;
}
.portfolio p{
	color: #424146;
	font-size: 16px;
}

.toggles button{
	border: none;
	color: #424146;
	background-color: unset;
	cursor: pointer;
	font-size: 16px;
	margin: 20px 5px;
}
.toggles button:after{
	content: ' / ';
}
.toggles button:last-child:after{
	content: '';
}

.posts{
	width: 90%;
	display: grid;
	margin: 0 auto;
	grid-template-columns: auto auto auto;
}

.brand-slider{
	width: 90%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 50px;
}
.brand-slider h4{
	margin-top: 40px;
	background: #424147;
	padding: 0 8px;
	display: inline-block;
	color: #ffea00;
	font-size: 18px;
	margin-bottom: 30px;
	margin-top: 30px;
}
.brand-slider p{
	color: #424146;
	font-size: 16px;
	margin-bottom: 30px;
}
footer{
	background: #414146;
	color: #ffffff;
}
footer h4{
	font-size: 18px;
}
.footer-container{
	width: 90%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 33% 36% 25%;
	grid-column-gap: 3%;
	margin-bottom: 31px;
	padding: 30px 0;
}
.footer-container .about-us a{
	background-color: #000000;
	border-bottom: 2px solid #ffea00;
	color: #ffffff;
	font-size: 15px;
	padding: 15px;
	margin-top: 30px;
	margin-bottom: 40px;
	display: inline-block;
}
.about-us p{
	padding-top: 30px;
}
.images{
	margin-top: 10px;
}
.tweets h4{
	padding-bottom: 34px;
}
.tweets p{
	margin-top: 20px;
}
.tweets span{
	color: #ffea00;
}
.tweets img{
	padding-right: 20px;
}
.icons{
	display: flex;
	margin-top: 70px;
}
.icons h4{
	padding-right: 9px;
}
.icons p{
	margin-top: 0;
}
.icons img{
	padding-right: 2px;
}
.contacts h4{
	font-size: 18px;
	padding-bottom: 50px;
}
.cont{
	display: flex;
}
.contacts p{
	font-size: 13px;
	padding-bottom: 25px;
    padding-top: 6px;
}
.contacts span{
	color: #ffea00;
}
.contacts img{
	padding-right: 15px;
	height: 30px;
}
.follow h4{
	padding-top: 13px;
	padding-bottom: 13px;
}
.follow p{
	padding-bottom: 17px;
}
form{
	display: flex;
}
form p{
	padding-right: 5px;
}
form input{
	background-color: #414146;
	border: 4px solid #ffea00;
	height: 20px;
	color: white;
}
form input::placeholder{
	color: white;
}
.bt{
	background-image: url(../img/email_icon.png);
    width: 28px;
    height: 28px;
    border: none;
    cursor: pointer;
}
.second-footer{
	display: flex;
	justify-content: space-around;
	background-color: #000000;
}
.second-footer a{
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	padding: 30px;
}
@media screen and ( max-width: 1024px){
.card {
    margin: 0 2px;
}
.posts {
    grid-template-columns: auto auto;
}
}
@media screen and ( max-width: 768px){
.header-container a {
    margin-right: 42px;
    padding: 27px 0px;
}
.top-slide {
    padding-top: 50px;
    padding-bottom: 130px;
}
.top-slide h2 {
    font-size: 35px;
}
.top-slide p {
    font-size: 15px;
}
.specialize-container h3{
    font-size: 30px;
}
.specialize-container p{
    font-size: 20px;
}
.specialize-cards {
    flex-wrap: wrap;
    width: 99%;
}
.posts {
    grid-template-columns: auto;
}
.card {
    margin: -15px 2px;
}
.footer-container {
    grid-column-gap: 0%;
    grid-template-columns: auto;
    text-align: center;
}
form {
    justify-content: center;
}
.contacts h4 {
    padding-bottom: 25px;
}
.cont {
    margin-left: 20%;
}
.icons {
    justify-content: center;
}
.tweets{
	margin-top: 30px;
}
.tweets p {
    margin-top: 3px;
}
}
@media screen and ( max-width: 425px){
.header-container{
	display: flex;
	justify-content: space-around;
}
.main-menu{
	display: none;
}
.main-menu li{
	width: 100%;
	display: block;
	font-size: 12px;
}
.main-menu a{
	display: block;
	padding: 10px;
}
.toggle-button{
	text-align: center;
	display: block;
	cursor: pointer;
	color: #000000;
	margin-top: 20px;
}
.toggle-button:after{
	content: attr(data-open);
	display: block;
}
#menu-checkbox:checked + nav[role="navigation"] .main-menu{
	display: block;
}
#menu-checkbox:checked + nav[role="navigation"] .toggle-button:after{
	content: attr(data-close);
}
.main-menu{
	position: relative;
	top: 0px;
}
.top-slide {
    padding-top: 15px;
    padding-bottom: 45px;
}
.top-slide h2{
	font-size: 20px;
}
.top-slide p{
	font-size: 12px;
}
.specialize-container h3 {
    font-size: 20px;
}
.specialize-container p{
	font-size: 13px;
}
.toggles button {
    margin: 10px 5px;
}
.specialize-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.portfolio p {
    padding-bottom: 15px;
}
.top-card{
	margin-top: 30px;
}
.card{
	margin-right: 0;
}
.bottom-card{
	width: 250px;
	margin: 0 auto;
}
.posts{
	width: 90%;
	display: grid;
	margin: 0 auto;
	grid-template-columns: auto;
}
.cont {
    margin-left: 15%;
}
.tweets {
    margin-bottom: 15px;
}
.tweets h4 {
    padding-bottom: 15px;
}
.second-footer ul{
    flex-direction: column;
}
.icons {
    margin-left: 37px;
    margin-top: 30px;
}
.icons img {
    padding-right: 24px;
}
.icons h4 {
    padding-top: 10px;
}
.second-footer a {
    padding: 15px;
}
}
@media screen and ( max-width: 375px){
.top-slide :nth-child(2) {
    margin-bottom: -4px;
}
.top-slide p {
    font-size: 8px;
}
.top-slide h2 {
    font-size: 15px;
}
.posts img{
	width: 90%;
}
.tweets h4 {
    padding-bottom: 10px;
    padding-top: 10px;
}
.icons h4 {
    padding-top: 45px;
}
.contacts h4 {
    padding-bottom: 10px;
}
.cont {
    display: block;
    margin: 0 auto;
}
.contacts img {
    padding-right: 10px;
}



}